{% extends 'base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block body %}
    <div class="annonce_formulaire">

    <h1>Votre Annonce</h1>
        <br>
        <div class="formulaire1">
    {{ form_start(form) }}</div>
        <div class="formulaire2">
    {{ form_widget(form) }}
        </div>
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    </div>

{% endblock %}